appdirs==1.4.4
asgiref==3.3.4
colorama==0.4.4
distlib==0.3.1
Django==3.2.3
django-crispy-forms==1.11.2
filelock==3.0.12
packaging==20.9
Pillow==8.2.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.4.7
